<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>Document</title>
  <style>
    #title{
    
      text-align: center;
      font-family: roboto;      
      color: green;
    }
    #mainpart{
    max-width:70%;
      margin:0 auto;
      
    }
  </style>
</head>
<body>
<div id="mainpart">
<h1 id="title">Hawaian Lux</h1>
<img src="https://2ec4fea3-91e8-41b7-ad30-24b5548d5c61-00-2xj2x6ia7il2j.kirk.replit.dev/static/bannerprop.jpg" style="width: 100%;
  height: 320;">
  <h2>About US</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis enim totam, placeat provident fugit, distinctio officiis dignissimos tempora laudantium minus unde libero error adipisci explicabo impedit. Velit assumenda quo facere. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus cupiditate quibusdam, assumenda labore consequatur consequuntur, molestias totam fugiat quas eum deserunt aliquid soluta inventore omnis perferendis reprehenderit ducimus, est repellendus.</p>
  <h2>Open positions</h2>
  <p>TODO show jobs here</p>
  <button id="contactus">Contact us</button>
 
  <footer style="margin-top: 10px"><a style="text-align: center">Zlatko 2024 Copyright</a></footer>
   </div>
</body>
</html>S