<div class="border-bottom row container" style="margin-bottom:16px; padding-bottom:4px">  
<div class="col-9">
  <h4 style="color:gray; margin-bottom:4px">{{job["title"]}}</h4>
  <div><b>Location: </b>{{job["location"]}}</div>
  {% if 'price' in job %}
  <div><b>Price: </b>{{job["price"]}}</div>

  {% endif %}
</div>
  <div class="col-3">
  <a href="mailto:zlatkocero@encering.com?subject=Inquiry%20about%20{{ job['title']}}&body=I%20would%20like%20to%20get%20more%20information%20on%20{{ job['title']}}" type="button" class="btn btn-outline-primary">Apply</a>
  </div>
</div>